body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
}

input,
label,
textarea,
button {
  margin: 10px;
}

.container-preview {
  margin: 20px;
}
